:root {
	--background: #070707;
	--color-thumb: #545454;
	--bt-hover: #9E9E9E;
	--sr-hover: #D8D8D8;
	--bt-disab: #353535;
	--tx-disab: #6B6B6B;
	--bg-insi: #383838;
	--bg-rect: #282828;
	--bg-thmb: #4C4C4C;
	--bg-dark: #333333;
	--bg-foot: #262626;
	--text-color: #C6C6C6;
	--link-color: #ADD2FF;
	--header-color: #FFFFFF;
	--lateral-bar: #282828;
	--row-hover: #686868;
	--wrng-backg: #BC4440;
	--wrng-color: #5B090D;
	--slide-rect: rgba(40,40,40,0.9);

}

body{
	background-color: var(--background);
	color: var(--text-color);
}

a{
	color: var(--text-color)
}

a:hover{
	color: var(--link-color);
}

a:active{
	color: var(--link-color);
}

#cookies{
	background-color: var(--color-thumb);
}

.upperbar{
	background-color: var(--bg-rect);
}

.upperbar #burgerbut{
	background-color: var(--bg-rect);
}

.upperbar #burgerbut:hover{
	background-color: var(--color-thumb);
}

.searchbar .searchtext{
	background-color: var(--bg-dark);
}

.searchbar .submit{
	background-color: var(--color-thumb);
}

.searchbar .submit:hover{
	background-color: var(--sr-hover);
}

.btpress{
	background-color: var(--color-thumb);
	color: var(--text-color);
	border-color: var(--color-thumb);
}

.btpress:hover{
	background-color: var(--text-color);
	color: var(--color-thumb);
	border-color: var(--text-color);
}

.btpress:disabled{
	background-color: var(--bt-disab);
	color: var(--tx-disab);
	border-color: var(--bt-disab);
}

.upperbar #btup{
	background-color: var(--bt-rect);
}

.upperbar #btup:hover{
	background-color: var(--color-thumb);
}

#profilemenu{
	background-color: var(--bg-rect);
}

.sidebar{
	background-color: var(--lateral-bar);
}

.sidebar hr{
	border: 1px solid var(--text-color);
}

#hpslide{
	background-color: var(--slide-rect);
}

.login{
	background-color: var(--bg-rect);
}

.error{
	color: red;
}

.selectbox{
	background-color: var(--bg-dark);
	color: var(--text-color);
}

.login .textbox{
	background-color: var(--bg-dark);
	color: var(--text-color);
}

.login .passbox .passeye{
	background-color: white;
}

.login .passbox .passeye:checked{
	background-color: red;
}

.brow{
	background-color: var(--bg-rect);
}

#banner{
	background-color: var(--bg-dark);
}

.profilepic{
	border: 5px solid var(--bg-rect);
}

#username, #nickname, #litername{
	color: var(--header-color);
}

#profile #binfobar{
	background-color:var(--bg-insi);
}

#profile .binfotip{
	color: var(--header-color);
}

#bio{
	background-color: var(--bg-insi);
}

#reportab {
	background-color: var(--bg-rect);
}

#btexit {
	background-color: var(--bg-rect);
	border-color: var(--bg-rect);
}

#btexit:hover {
	background-color: var(--color-thumb);
	border-color: var(--color-thumb);
}

#thank{
	background-color: var(--color-thumb);
}

#bookinfo{
	background-color: var(--bg-rect);
}

#bookinfo #warning{
	background-color: var(--wrng-backg);
	color: var(--wrng-color);
}

#bookinfo #status #rating{
	color: white;
}

#bookinfo #downloads{
	background-color: var(--bg-insi);
}

#bookinfo #downloads tr:hover{
	background-color: var(--color-thumb);
	color: var(--text-color);
}

#bookinfo #downloads tr:active{
	background-color: var(--row-hover);
}

#bookinfo #downloads #nodownloads:hover{
	background-color: var(--bg-insi);
}

#bookinfo #downloads #nodownloads:active{
	background-color: var(--bg-insi);
}

.thbcritic{
	background-color: var(--bg-insi);
}

.thbcritic .textbox{
	background-color: var(--bg-rect);
	color: var(--text-color);
}

.thbcritic #coucom{
	color: red;
}

#cridel {
	background-color: var(--bg-rect);
}

.quotepoem{
	background-color: var(--bg-rect);
}

.displayresults{
	background-color: var(--bg-rect);
}

.thumbs{
	background-color: var(--bg-insi);
	border-color: var(--bg-insi);
	color: var(--text-color);
}

.thumbs:hover{
	background-color: var(--bg-thmb);
	border-color: var(--bg-thmb);
}

.coverart img{
	background-color: var(--bg-dark);
}

.portraits{
	background-color: var(--bg-insi);
	border-color: var(--bg-insi);
	color: var(--text-color);
}

.portraits:hover{
	background-color: var(--bg-thmb);
	border-color: var(--bg-thmb);
}

.litbut h2{
	color: var(--header-color);
}

.infocontent{
	background-color:var(--bg-rect);
}
.summary{
	background-color: var(--bg-insi);
	border-color: var(--bg-insi);
}

.lowerbar{
	background-color: var(--bg-dark);
}

#langbox{
	background-color: var(--bg-foot);
	color: var(--bg-thmb);
}

#langbox * :hover{
	background-color: var(--bg-insi);
}

.disclaimer{
	background-color: var(--bg-foot);
	color: var(--bg-thmb);
}

::placeholder{
	color: var(--text-color);
}

div::-webkit-scrollbar-track {
	background: var(--bg-rect);
}

div::-webkit-scrollbar-thumb {
	background: var(--bg-insi);
}

div::-webkit-scrollbar-thumb:hover {
	background: var(--bg-thmb);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

.searchbar input:-webkit-autofill,
.searchbar input:-webkit-autofill:hover, 
.searchbar input:-webkit-autofill:focus, 
.searchbar input:-webkit-autofill:active  {
	-webkit-box-shadow: 0 0 0 30px var(--bg-dark) inset !important;
}

.requestable .dark{
	background-color: var(--color-thumb);
}